@font-face {
    font-family: 'BasteleurBold';
    src: url(./assets/fonts/Basteleur-Bold.otf) format("opentype"),
         url(./assets/fonts/Basteleur-Bold.woff2) format("woff2"),
         url(./assets/fonts/Basteleur-Bold.woff) format("woff"),
         url(./assets/fonts/Basteleur-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(./assets/fonts/RedHatDisplay-Regular.ttf) format("truetype"),
         url(./assets/fonts/RedHatDisplay-Regular.woff) format("woff"),
         url(./assets/fonts/RedHatDisplay-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(./assets/fonts/RedHatDisplay-Bold.ttf) format("truetype"),
         url(./assets/fonts/RedHatDisplay-Bold.woff) format("woff"),
         url(./assets/fonts/RedHatDisplay-Bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(./assets/fonts/RedHatDisplay-Medium.ttf) format("truetype"),
         url(./assets/fonts/RedHatDisplay-Medium.woff) format("woff"),
         url(./assets/fonts/RedHatDisplay-Medium.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
}